/*
 * Copyright 2012 Craw-Kan Telephone Coopertive Inc.
 * Author:  Jerime Carpenter
 */

/*-----------------------------------------------------------------------------------*/
/*	Basic
/*-----------------------------------------------------------------------------------*/
body{
	background-color: #eee;
	font-family: 'Ubuntu', sans-serif;
}

img{
	max-width: 100%;
}

h1{
	padding-bottom: 25px;
}

p, label{
	font-family: "Times New Roman",Georgia,Serif;
	font-size: 16px;
	line-height: 25px;
}

a, a:hover{
	color: #0092b3;
}

/* Button */
.btn-custom {
  background-color: hsl(46, 100%, 49%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fed54c", endColorstr="#f9bf00");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#fed54c), to(#f9bf00));
  background-image: -moz-linear-gradient(top, #fed54c, #f9bf00);
  background-image: -ms-linear-gradient(top, #fed54c, #f9bf00);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fed54c), color-stop(100%, #f9bf00));
  background-image: -webkit-linear-gradient(top, #fed54c, #f9bf00);
  background-image: -o-linear-gradient(top, #fed54c, #f9bf00);
  background-image: linear-gradient(#fed54c, #f9bf00);
  border-color: #f9bf00 #f9bf00 hsl(46, 100%, 45%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.26);
  -webkit-font-smoothing: antialiased;
}


/*-----------------------------------------------------------------------------------*/
/*	Header
/*-----------------------------------------------------------------------------------*/ 
#header{
	background-color: #0092b3;
	padding: 0px 10px 0px 10px;
	overflow: hidden;
	moz-box-shadow: 0 8px 6px -6px black, inset 0 -8px 6px -6px black;
    -webkit-box-shadow: 0 8px 6px -6px black, inset 0 -8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black, inset 0 -8px 6px -6px black;
}

#hero{
	padding: 50px 0px 50px 0px;
}


i{
	padding-right: 10px;
}

#logo{
	margin-left: 9999px;

}

/* Navigation */
.navbar .nav > li > a{
	padding: 20px 20px 20px 20px;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
}

.navbar .nav > li > a:hover{
	font-style: italic;
}

.navbar .nav > li.active{
	font-style: italic;
}


/*-----------------------------------------------------------------------------------*/
/*	Content
/*-----------------------------------------------------------------------------------*/ 
#about{
	padding: 100px 0px 80px 0px;
}

/*-----------------------------------------------------------------------------------*/
/*	Footer
/*-----------------------------------------------------------------------------------*/ 
/* General */
footer{
	background-image: url('../img/ftbg.png');
	background-color: #333;
}

#top{
	background-image: url('../img/top.png');
	background-repeat: repeat-x;
	height: 100px;
}

#grommet{
	padding: 25px 0px 50px 0px;
}

#tarp{
	margin-top: -105px;
}

footer h1, footer h2, footer h3, footer h4, footer h5, footer h6{
	padding: 0px 0px 25px 0px;
	color: #ffca3e;
	text-shadow: 1px 1px 0px #000;
}

footer p, footer label{
	color: #eee;
	text-shadow: 1px 1px 0px #000;
}

/* Location */
.map{
	padding: 5px;
	border: 1px solid #eee;
	-webkit-box-shadow: 1px 1px 1px #000;
	-moz-box-shadow: 1px 1px 1px #000;
	box-shadow: 1px 1px 1px #000;
	margin-bottom: 20px;
}

#address{
	float: left;
	margin-right: 80px;
}

#address h3, #phone h3{
	padding-bottom: 0px;
}


/* Contact Form */
#contact-header{
	padding: 0px;
}

.alert-info{
	background-color: #0092b3;
}

.form-horizontal .control-label{
	width: 100px;
	padding-top: 0px;
}

.form-horizontal .controls {
	margin-left: 110px;	
}

.submit{
	margin-left: 110px;
}

label.valid {
	width: 24px;
	height: 24px;
	background: url(../img/valid.png) center center no-repeat;
	display: inline-block;
	text-indent: -9999px;
	margin-left: 5px;
}

label.error {
	font-weight: bold;
	color: red;
}

/* Copyright */
#copyright{
	padding-top: 100px;
	text-align: center;
	color: #999;
	font-size: 12px;
}
