/*
 * Copyright 2012 Craw-Kan Telephone Coopertive Inc.
 * Author:  Jerime Carpenter
 */

/*-----------------------------------------------------------------------------------*/
/*	Basic
/*-----------------------------------------------------------------------------------*/
body{
	background-color: #eee;
	font-family: 'Ubuntu', sans-serif;
}

img{
	max-width: 100%;
}

h1{
	padding-bottom: 25px;
}

p{
	font-family: "Times New Roman",Georgia,Serif;
	font-size: 16px;
	line-height: 25px;
}

a, a:hover{
	color: #0092b3;
}


/*-----------------------------------------------------------------------------------*/
/*	Header
/*-----------------------------------------------------------------------------------*/ 
#header{
	background-color: #0092b3;
	padding: 0px 10px 0px 10px;
	overflow: hidden;
}

#hero{
	padding: 50px 0px 50px 0px;
}

.navbar .nav > li > a{
	padding: 20px 20px 20px 20px;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
}

.navbar .nav > li > a:hover{
	font-style: italic;
}

.navbar .nav > li.active{
	font-style: italic;
}

i{
	padding-right: 10px;
}

#logo{
	margin-left: 9999px;

}


/*-----------------------------------------------------------------------------------*/
/*	Content
/*-----------------------------------------------------------------------------------*/ 
#employee-profile{
	padding: 100px 0px 80px 0px;
}

/*-----------------------------------------------------------------------------------*/
/*	Footer
/*-----------------------------------------------------------------------------------*/ 
/* General */
footer{
	padding: 100px 0px 0px 0px;
	background-color: #333;
	text-shadow: 1px 1px 0px #000;
}

footer h1, footer h2, footer h3, footer h4, footer h5, footer h6{
	padding: 0px 0px 25px 0px;
	color: #ffca3e;
	text-shadow: 1px 1px 0px #000;
}

footer p, label{
	color: #eee;
}

/* Location */
.map{
	padding: 5px;
	border: 1px solid #eee;
	-webkit-box-shadow: 1px 1px 1px #000;
	-moz-box-shadow: 1px 1px 1px #000;
	box-shadow: 1px 1px 1px #000;
	margin-bottom: 20px;
}

#address{
	float: left;
	margin-right: 80px;
}

#address h3, #phone h3{
	padding-bottom: 0px;
}


/* Contact Form */
.alert-info{
	background-color: #0092b3;
}

.form-horizontal .control-label{
	width: 100px;
}

.form-horizontal .controls {
	margin-left: 110px;	
}

.submit{
	margin-left: 110px;
}

label.valid {
	width: 24px;
	height: 24px;
	background: url(../img/valid.png) center center no-repeat;
	display: inline-block;
	text-indent: -9999px;
}

label.error {
	font-weight: bold;
	color: red;
	padding: 2px 8px;
	margin-top: 2px;
}

/* Copyright */
#copyright{
	padding-top: 100px;
	text-align: center;
	color: #999;
	font-size: 12px;
}
